h1 {
    color: rgb(245, 155, 203);
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
table{
    color: red;
    font-size: 22px;
}
h2#H2{
    color: green;
    font-size: 15px;
}
:root{
    --text-color: violet;
}
h3 {
    color: var(--text-color);
}
h4 {
    --my-color: green;
    color: var(--my-color);
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.dark{
    background-color: blue;
    width: 10%;
    height: 10%;
}